<p id="notice"><%= notice %></p>

<p>
  <strong>Player home:</strong>
  <%= @game.player_home_id %>
</p>

<p>
  <strong>Player away:</strong>
  <%= @game.player_away_id %>
</p>

<p>
  <strong>Home score:</strong>
  <%= @game.home_score %>
</p>

<p>
  <strong>Home score:</strong>
  <%= @game.home_score %>
</p>

<p>
  <strong>Away score:</strong>
  <%= @game.away_score %>
</p>

<p>
  <strong>Away score:</strong>
  <%= @game.away_score %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
